/* Styles.css SHOPPINGCART*/


  .cartContainer {
    background-color: white;
    width: 90%;
    max-width: 600px;
    margin: 10px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-content: center;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    
    }

    .cartTitle {
      
      display: flex;
      justify-content:center;
      align-items:center;
      font-size: 30px;
      margin-bottom: 30px; 
      font-weight: bold
      
    }

    .cart-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
     }

     .cart-button {
        background-color:#6e6b6bd0;
        border: 0.3px solid white;
        padding: 5px 15px;
        border-radius: 10px;
        font-weight: bold;
        cursor:pointer;
        color: white;
        
     }

.emptyCartMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    font-size: 28px;
}

.cartButton {
    background-color: grey;
    color: white;
    padding: 10px;
    cursor:pointer;
    border-radius: 5px;
    flex-direction: column;
    margin-bottom: 10px;
    display: block;
    justify-content: flex-end;
    margin-right: 460px;
    position:relative;
    right: 10px;
    border-radius: 15px;
    gap:10px;

}

.cart-button:hover {
    background-color: green;
}

.totalPrice {
    font-size: 30px;
    text-align: center;
    margin: 30px 0;
}

.checkoutLink {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: hsl(115, 98%, 25%);
    padding: 10px 20px;
    border-radius: 25px;
    color:white;
    font-size: 25px;
    transition: 0.3s ease;
   
}

.checkoutLink:hover {
    background-color: hsl(115, 98%, 25%);
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vh;
    font-size: 28px;
      
  }

  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    font-size: 20px;
    margin: 5px;

    }

      h4 {
        font-size: 18px;
        display: flex;
        flex-direction:column;
        gap:10px;
        padding-left:380px; 
        margin: 20px;

      } 

      h5 {
        font-size: 30px;
        display: flex;
        flex-direction:column;
        right: 50%;
        align-items: center;
        justify-items: center;
        gap:50px;
        padding: 0px; 
        margin: 0px;
        font-size: 25px;
        font-weight: bold;
    
      }    


