/* Estilo básico para la navbar */
.navbar {
  display: grid;
  grid-template-columns: auto 1fr auto;/*repeat(3, 1fr);*/
  align-items: center;
  justify-items: center;
  padding: 0 0.75rem;
  position: relative;
}

@media screen and (max-width: 529px) {
  .navbar {
    justify-items: start;
  }
  .nav-logo-home {
    padding-left: 1rem;
  }
}

.nav-icon {
  margin-top: 0.3rem;
}

.nav-user-icon-logged {
  color: var(--green);
}

.nav-logo {
  font-family: var(--logo-font);
  font-weight: 300;
  font-size: 2.5rem;
}

.nav-button {
  background-color: transparent;
  border: none;
  color: var(--main-color);
  cursor: pointer;
}

.nav-link:hover,
.nav-button:hover {
 color: var(--green);
}

.nav-right,
.nav-left {
  display: flex;
  gap: 1rem;
}

.nav-left-mobile {
  position:fixed;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  top: 3.5rem;
  padding: 1rem;
  background-color: white;
  border: 1px solid #8080802e;
  z-index: 10;
}

.nav-left-mobile { 
  left: -300px;
  transition: left 0.3s ease-out;
}
.nav-left-mobile.open { 
  left: 0px;
}

.nav-burger {
  padding: 0 0.5rem;
}

.nav-burger .nav-burger-button {
  border: none;
  background-color: transparent;

}

@media screen and (max-width: 529px) {
  .nav-left {
    display: none;
  }
}
@media screen and (min-width: 530px) {
  .nav-burger,
  .nav-left-mobile  {
    display: none;
  }
}