/* Estilo básico para la navbar */
.navbar {
  display: grid;
  grid-template-columns: auto 1fr auto;/*repeat(3, 1fr);*/
  align-items: center;
  padding: 0 0.75rem;
}

@media screen and (min-width: 413px) {
  .navbar {
    grid-template-columns: auto 1fr auto;
  }
}

.nav-link {
  font-size: 18px;
}

.nav-button {
  background-color: transparent;
  border: none;
  color: var(--main-color);
  cursor: pointer;
}

.nav-link:hover,
.nav-button:hover {
 color: var(--green);
}

.nav-logo {
  font-family: var(--logo-font);
  font-weight: 300;
  font-size: 2.5rem;
}

.nav-right,
.nav-left {
  display: flex;
  gap: 1rem;
}
