/*--- Importación de fuentes desde Google Fonts ---*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:wght@300&display=swap');

/*--- VARIABLES ---*/
:root {
--main-color:#757575;
--main-font: "Noto Sans";
--logo-font: "Roboto Condensed";
--gray00: #fff;
--green: #007e00;

}

html, body {
    font-family: 'Segoe UI', var(--main-font), Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--gray00);
    color: var(--main-color);
}

/* Fonts */
h1 {
    font-weight: 300;
    font-size: 2rem;
}

h2 {
    font-weight: 300;
    font-size: 2rem;
}

/* Buttons */
.primary-button,
.secondary-button {
    border-radius: 100px;
    border: 1px solid var(--main-color);
    padding: 0.25rem 1rem;
    cursor: pointer;
}
.primary-button {
    background-color: var(--main-color);
    color: var(--gray00);
}

.secondary-button {
    color: var(--main-color);
}