/*.footer {
  background-color: #b987cc;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-button {
  background-color: #ee9db8;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-decoration: none;
}*/ 

/* "OJO" UNIFIQUE TODOS LOS ESTILOS CSS DE LOS DOS FOOTER EN "CUSTOMFOOTER.CSS (LEIDY) */
